

body {
  font-family: georgia,serif;
  background-color: rgba(186, 146, 25, 0.23);
}

* {
  margin: 0;
  padding: 0;
}

div.everything {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: white;
  border: 1px solid white;
  padding-top: 150px;
  max-width: 700px;

}


p.playbutton {
text-align: center;
background-color: rgba(95, 154, 9, 0.63);
border: 1px solid white;
border-radius: 20px;
width: 6em;
margin-left: auto;
margin-right: auto;
margin-bottom: 2em;
margin-top: 0;
padding: 1em;
font-family: garamond, serif;
font-weight: bold;
font-size: 1.5em;
color: white;

}

p.playbutton:hover {
  background-color: rgba(114, 153, 4, 1);
  color: rgb(242, 193, 46);
}


a {
text-decoration: none;
}

img{
  width: 100%;
 border: 5px groove rgb(189, 153, 2);

}

.cover {
  float:right;
  width: 48%;
  margin: 1.8em;
 padding:0;

}

.intro {
  width: 48%;
}

.headingbar {
  background: rgb(157,73,55);
  background: linear-gradient(180deg, rgba(157,73,55,1) 62%, rgba(169,84,38,1) 83%, rgba(196,108,0,1) 100%);
padding: 5px;
margin-top: 0;
  /* text-align:center; */
  width:100%;
  position:fixed;
  top:0;
}




h2 {
/* border: 1px solid red; */

font-family: garamond, serif;
font-variant: small-caps;
font-weight:bold;
color:rgb(209, 158, 4);
font-size: 6em;
margin-top: 0;
margin-bottom: 0px;
text-align: center;
text-shadow: 4px -4px #000000;
/* width: 50%; */
/* margin-left: auto; */
/* margin-right: auto; */


}

h3 {
  /* border: 1px solid blue; */
color: white;
  margin-top: 0;
  text-align: center;
  font-family: times;
  font-size: 1.5em;
  font-style: oblique;
  margin-left: 250px;
  text-shadow: 2px -2px #000000;
  padding-right: 1em;

}

.performed {

font-size: 1.2em;
font-family: garamond,serif;
border: 1.5px dotted rgb(189, 153, 2);
max-width: 500px;
text-align: center;
margin: 1em;
list-style: none;
font-weight: 900;
}

p{
/* border: 1px solid green; */

font-family: garamond,serif;
/* color: black; */
font-size: 1.2em;
line-height: 1.2;
margin: 1em;
text-align: justify;

}

.first {
  background-color: rgb(157,73,55);
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  width: 80%;
margin: 1em;
  padding: 10px;
}



@media screen and (max-width:700px){


div.everything{
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

  .cover{
    float: none;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    display:flex;
    align-items: center;
  }
  .intro{
display: flex;
flex-direction: column;
align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  p.first {
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

@media screen and (max-width:450px) {

div.everything {
padding-top: 300px;
width: 100%;
}
}
